/* Estilos Generales para el Formulario */
form {
    max-width: 600px;  /* Limita el ancho del formulario */
    margin: 0 auto;    /* Centra el formulario */
    padding: 20px;
    background-color: #f9f9f9;  /* Fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
}

/* Título del Formulario */
form h2,h1 {
    text-align: center;
    font-size: 1.8em;
    color: #4A90E2;  /* Color azul para el título */
    margin-bottom: 20px;
}

/* Estilos para los Campos del Formulario */
input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño */
    font-size: 1em;
    background-color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: #4A90E2; /* Resalta el borde cuando se selecciona */
    outline: none;  /* Elimina el contorno predeterminado */
}

/* Etiquetas de los Campos */
label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 15px;
}

/* Botón de Enviar */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4A90E2;  /* Azul vibrante */
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover del Botón */
button[type="submit"]:hover {
    background-color: #357ABD;  /* Cambio de color al pasar el mouse */
}

/* Mensajes de Error */
.error {
    color: #ff4d4d;  /* Color rojo para los errores */
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Estilo para los Contenedores de Campos */
.field-container {
    margin-bottom: 15px;
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    select,
    textarea {
        font-size: 0.95em;
    }

    button[type="submit"] {
        font-size: 1em;
    }
}


.tarjeta-imagen {
    text-align: left; /* Centra la imagen */
    margin-top: 20px;
}

.tarjeta-imagen img {
    max-width: 64px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene proporciones */
    border: 2px solid #ddd; /* Borde ligero */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición */
}

.tarjeta-imagen img:hover {
    transform: scale(1.1); /* Efecto zoom al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más grande */
}

.error {
    color: red;
    font-size: 0.9em;
}

.success {
    color: green;
    font-size: 0.9em;
}