<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reserva de Vuelos</title>

    <!-- Favicon -->
    <link rel="icon" href="img/vuelo.png" type="image/x-icon" />

    <link rel="stylesheet" href="css/style.css" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <section id="contenedor-reserva" class="">
            <div class="text-center bg-black bg-gradient py-3 d-flex justify-content-center align-items-center ">
                <img src="img/vuelo.png" alt="logo" class="d-block me-2" style="width: 40px;">
                <h4 class="text-white">Reserva de Vuelos</h4>
            </div>
            <form class="bg-white py-5 px-5 mx-auto" ref="formReserva" v-show="!confirmacion">
                <fieldset class="row g-3 border rounded pb-4 px-4 mb-3">
                    <legend class="float-none w-auto px-2">Datos del Pasajero</legend>

                    <div class="col-md-8">
                        <label for="nombre" class="form-label form-label-sm">Nombre Completo</label>
                        <input type="text" id="nombre" class="form-control form-control-sm"
                            v-bind:class="getClass('nombre')" v-model="pasajero.nombre"
                            @input="validateNombre('nombre')" />
                        <div v-bind:class="getClassFeedback('nombre')">
                            {{ mensajesError.nombre }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="pasaporte" class="form-label form-label-sm">Número de Pasaporte</label>
                        <input type="text" class="form-control form-control-sm" v-model="pasajero.pasaporte"
                            v-bind:class="getClass('pasaporte')" @input="validatePasaporte" id="pasaporte"
                            placeholder="ABC123456" />
                        <div v-bind:class="getClassFeedback('pasaporte')">
                            {{ mensajesError.pasaporte }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="fechaNacimiento" class="form-label form-label-sm">Fecha de Nacimiento</label>
                        <input type="text" class="form-control form-control-sm"
                            v-bind:class="getClass('fechaNacimiento')" v-model="pasajero.fechaNacimiento"
                            @input="validateFechaNacimiento" id="fechaNacimiento" placeholder="dd/mm/aaaa"
                            @keypress="keyPressFecha" />
                        <div v-bind:class="getClassFeedback('fechaNacimiento')">
                            {{ mensajesError.fechaNacimiento }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="nacionalidad" class="form-label form-label-sm">Nacionalidad</label>
                        <select class="form-select form-select-sm" id="nacionalidad"
                            v-bind:class="getClass('nacionalidad')" v-model="pasajero.nacionalidad"
                            @change="validateNacionalidad">
                            <option value="">Selecciona un país</option>
                            <option v-for="pais in paises" :key="pais.iso2" :value="pais.nameES">
                                {{ pais.nameES }}
                            </option>
                        </select>
                        </label>
                        <div v-bind:class="getClassFeedback('nacionalidad')">
                            {{ mensajesError.nacionalidad }}
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row g-3 border rounded pb-4 px-4 mb-3">
                    <legend class="float-none w-auto px-2">Datos del Vuelo</legend>

                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input type="radio" name="tipoViaje" id="ida" v-model="vuelo.tipoViaje"
                                class="form-check-input" value="1" @change="checkTipoViaje" checked>
                            <label class="form-check-label " for="ida">
                                Solo ida
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input v-model="vuelo.tipoViaje" value="2" class="form-check-input" type="radio"
                                name="tipoViaje" id="idaVuelta" @change="checkTipoViaje">
                            <label class="form-check-label" for="idaVuelta">
                                Ida y vuelta
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6" id="divOrigen">
                        <label for="origen" class="form-label form-label-sm">Origen</label>
                        <select class="form-select form-select-sm" id="origen" v-model="vuelo.origen"
                            v-bind:class="getClass('origen')" @change="validateCiudad('origen')">
                            <option value="">Selecciona una ciudad</option>
                            <option v-for="aeropuerto in aeropuertos" :key="aeropuerto" :value="aeropuerto">
                                {{ aeropuerto }}
                            </option>
                        </select>

                        <div id="imgOrigen">
                            <img width="20" height="20" src="https://img.icons8.com/metro/26/airplane-take-off.png"
                                alt="airplane-take-off" />
                        </div>

                        <div v-bind:class="getClassFeedback('origen')">
                            {{ mensajesError.origen }}
                        </div>
                    </div>

                    <div class="col-md-6" id="divDestino">
                        <label for="destino" class="form-label form-label-sm">Destino</label>
                        <select class="form-select form-select-sm" id="destino" v-model="vuelo.destino"
                            v-bind:class="getClass('destino')" @change="validateCiudad('destino')">
                            <option value="">Selecciona una ciudad</option>
                            <option v-for="aeropuerto in aeropuertos" :key="aeropuerto" :value="aeropuerto">
                                {{ aeropuerto }}
                            </option>
                        </select>
                        <div id="imgDestino">
                            <img width="20" height="20" src="https://img.icons8.com/metro/26/airplane-landing.png"
                                alt="airplane-landing" />
                        </div>
                        <div v-bind:class="getClassFeedback('destino')">
                            {{ mensajesError.destino }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="fechaSalida" class="form-label form-label-sm">Salida</label>
                        <input type="text" class="form-control form-control-sm" v-bind:class="getClass('fechaSalida')"
                            v-model="vuelo.fechaSalida" @input="validateFechaVuelo('fechaSalida')"
                            @keypress="keyPressFecha" id="fechaSalida" placeholder="dd/mm/aaaa" />
                        <div v-bind:class="getClassFeedback('fechaSalida')">
                            {{ mensajesError.fechaSalida }}
                        </div>
                    </div>

                    <div class="col-md-3" v-if="vuelo.tipoViaje === '2'">
                        <label for="fechaRegreso" class="form-label form-label-sm">Regreso</label>
                        <input type="text" class="form-control form-control-sm" v-model="vuelo.fechaRegreso"
                            @input="validateFechaVuelo('fechaRegreso')" @keypress="keyPressFecha"
                            v-bind:class="getClass('fechaRegreso')" id="fechaRegreso" placeholder="dd/mm/aaaa" />
                        <div v-bind:class="getClassFeedback('fechaRegreso')">
                            {{ mensajesError.fechaRegreso }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="clase" class="form-label form-label-sm">Clase</label>
                        <select class="form-select form-select-sm" id="clase" v-model="vuelo.clase"
                            v-bind:class="getClass('clase')" @change="validateClase">
                            <option value="">Selecciona una clase</option>
                            <option v-for="clase in clases" :key="clase" :value="clase">
                                {{ clase }}
                            </option>
                        </select>
                        <div v-bind:class="getClassFeedback('clase')">
                            {{ mensajesError.clase }}
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label for="numeroBoletos" class="form-label form-label-sm">N° Boletos</label>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-sm fw-bold" @click="decrementarBoletos"> - </button>
                            <input type="number" id="numeroBoletos" class="form-control form-control-sm text-center"
                                v-bind:class="getClass('numeroBoletos')" style="width: 50px;"
                                v-model="vuelo.numeroBoletos" @keypress="validarNumero" @input="validateBoletos" />
                            <button type="button" class="btn btn-sm fw-bold" @click="incrementarBoletos"> +</button>
                        </div>
                        <small class="d-block mt-1"
                            v-bind:class="!validaciones.numeroBoletos ? 'text-danger' : 'text-success'">{{
                            mensajesError.numeroBoletos }}</small>
                    </div>

                    <div v-if="precioTotal > 0" class="alert alert-light" role="alert">
                        Precio Total: $ {{ precioTotal }}
                    </div>
                </fieldset>

                <fieldset class="row g-3 border rounded pb-4 px-4 mb-3">
                    <legend class="float-none w-auto px-2">Datos de Pago</legend>
                    <div class="col-md-5" id="tarjeta">
                        <label for="numeroTarjeta" class="form-label">
                            Número de Tarjeta de Crédito
                        </label>
                        <input type="number" id="numeroTarjeta" class="form-control form-control-sm"
                            placeholder="0000 0000 0000 0000" v-model="pago.numeroTarjeta" @keypress="validarNumero"
                            @input="validateTarjeta" v-bind:class="getClass('numeroTarjeta')" />
                        <div v-if="pago.tipoTarjeta" class="tarjetas-imagen">
                            <img :src="imagenesTarjetas[pago.tipoTarjeta]" :alt="pago.tipoTarjeta" width="30"
                                height="30" />
                        </div>

                        <div v-bind:class="getClassFeedback('numeroTarjeta')">
                            {{ mensajesError.numeroTarjeta }}
                        </div>
                    </div>


                    <div class="col-md-3">
                        <label for="vencimiento" class="form-label form-label-sm">Vencimiento</label>
                        <input type="text" id="vencimiento" class="form-control form-control-sm"
                            v-bind:class="getClass('fechaVencimiento')" v-model="pago.fechaVencimiento"
                            placeholder="mm/aa" @input="validateFechaVencimiento" @keypress="keyPressFecha" />
                        <div v-bind:class="getClassFeedback('fechaVencimiento')">
                            {{ mensajesError.fechaVencimiento }}
                        </div>

                    </div>
                    <div class="col-md-3" id="divCvv">
                        <label for="cvv" class="form-label form-label-sm">CVV</label>
                        <input type="text" id="cvv" class="form-control form-control-sm" v-bind:class="getClass('cvv')"
                            placeholder="xxx" v-model="pago.cvv" @input="validateCVV" />
                        <div id="imgCvv">
                            <img width="30" height="30" src="https://img.icons8.com/ios/50/card-verification-value.png"
                                alt="card-verification-value" />
                        </div>
                        <div v-bind:class="getClassFeedback('cvv')">
                            {{ mensajesError.cvv }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="titular">Nombre del Titular</label>
                        <input type="text" id="titular" class="form-control form-control-sm"
                            v-bind:class="getClass('titular')" v-model="pago.titular"
                            @input="validateNombre('titular')" />
                        <div v-bind:class="getClassFeedback('titular')">
                            {{ mensajesError.titular }}
                        </div>
                    </div>
                </fieldset>
                <div v-if="!isFormValid" class="row alert alert-danger text-center fs-6" role="alert">
                    <small> ¡Ups, parece que olvidaste algo! Revisa los campos en rojo.</small>
                </div>
                <div class="row d-flex  justify-content-end mb-4 mt-3 ">
                    <!-- Botón para mostrar el resumen -->
                    <button type="button" v-show="mostrarBtnModal()" class="btn btn-secondary me-2" style="max-width: 200px" data-bs-toggle="modal" 
                    data-bs-target="#resumenModal">
                        Ver Resumen
                    </button>
                    
                    <!-- Botón para confirmar la reserva -->
                    <button type="submit" class="btn btn-primary" :disabled="!isFormValid" @click="submitForm" style="max-width: 250px">
                        Confirmar Reserva
                    </button>
                </div>
            </form>

            <article class="bg-white py-5 px-5 mx-auto" v-show="confirmacion">
                <div class="mx-auto d-flex flex-column justify-content-center align-items-center">
                    <img src="img/check.png" class="d-block mx-auto" style="max-width: 60px;" alt="">
                    <h5 class="text-center mt-4 mb-4">Reserva Exitosa. ¡Gracias por elegirnos!</h5>
                    <button type="button" class="btn btn-primary" ><a href="index.html" class="text-white text-decoration-none">Nueva Reserva</a></button>
                </div>
            </article>
        </section>


        

        <!-- Modal de resumen -->
        <div id="resumenModal" class="modal fade" tabindex="-1" aria-labelledby="resumenModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resumenModalLabel">Resumen de Reserva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="px-2">
                            <p>Pasajero: <strong>{{ pasajero.nombre }}</strong></p>
                            <p>Pasaporte: <strong class="text-uppercase">{{ pasajero.pasaporte }}</strong></p>
                            <p>Ciudad de Origen: <strong>{{ vuelo.origen }}</strong></p>
                            <p>Ciudad de Destino: <strong>{{ vuelo.destino }}</strong></p>
                            <p>Fecha de Salida: <strong>{{ vuelo.fechaSalida }}</strong></p>
                            <p v-if="vuelo.tipoViaje === '2'">Fecha de Regreso: <strong>{{ vuelo.fechaRegreso }}</strong></p>
                            <p>Clase: <strong>{{ vuelo.clase }}</strong></p>
                            <p>Boletos: <strong>{{ vuelo.numeroBoletos }}</strong></p>
                            <p>Medio de pago: <strong>Tarjeta {{ pago.tipoTarjeta }}</strong></p>
                            <p><strong>Total: ${{ precioTotal }}</strong></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/app.js"></script>
</body>

</html>