:root {
  --fuente: "Roboto", sans-serif;
  --fuente2: "PT Sans", sans-serif;
  --celeste: #218da5;
  --celeste-claro: #49bfbf;
  --naranja: #f26938;
  --naranja-claro: #f2913d;
  --blanco: #ffffff;
  --gris: #f2f2f2;
  --gris-oscuro: #555555;
  --negro: #242424;
  --fondo1: #f8f9fa;
  --fondo2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: var(--fuente);
  width: 100%;
  background-color: var(--fondo2);
  color: var(--gris-oscuro);
}

a {
  text-decoration: none;
}

header {
  background-color: var(--gris);
}

.text-logo{
  color: var(--gris-oscuro);
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.nav-link{
  color: var(--gris-oscuro);
}

.nav-link:hover{
  color: var(--celeste-oscuro);
}
/*banner  */

#banner {
  height: 60vh;
  position: relative;
}

#banner .banner-imagen {
  object-fit: cover;
  position: absolute;
}

#banner .opacity {
  opacity: 0.7;
  position: absolute;
  z-index: 0;
}

#banner > div {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.banner-titulo {
  gap: 10px;
  margin-bottom: 10px;
}

.banner-titulo > img {
  width: 30px;
  height: auto;
}

.banner-titulo h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  text-shadow: #00000098 2px 2px 4px;
}

#banner p {
  color: white;
  font-size: 14px;
  text-align: center;
  text-shadow: #00000098 2px 2px 4px;
  padding: 10px;
  text-transform: uppercase;
}

.btn-banner {
  margin: 0 auto;
  width: 150px;
  opacity: 0.9;
}

#nosotros p , li{
  text-align: justify;
}

#nosotros h3, h5, h4{
  color: #218da5;
}

#articulos, #horario{
  background-color: var(--fondo1);
}

#articulos .carrusel {
  scrollbar-color: #656666 #f1f1f1;
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
}

#contacto {
  background-color: var(--negro);
}
.contanto{
  order: -1;
}

#footer {
  background-color: var(--negro);
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
}

.redes a {
  cursor: pointer;
}
.redes i {
  font-size: 1.2rem;
  color: var(--gris-oscuro);
  transition: all 0.25s ease-in-out;
}

.redes a:first-child:hover i {
  color: #2656be;
  transform: scale(1.2);
}
.redes a:nth-child(2):hover i {
  color: #9d2cac;
  transform: scale(1.2);
}

.redes a:nth-child(3):hover i {
  color: #aa1313;
  transform: scale(1.2);
}

#btn-subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #218da5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

@media (min-width: 768px) {
  .carrusel{
    justify-content: center;
  }

  .contanto{
    order: 2;
  }
  }
@media (min-width: 992px) {
  #footer {
    background-color: var(--fondo1);
  }

  #banner {
    height: 90vh;
  }
  }


